/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "primary": #9C0309,
  "secondary": #EF7B00,
  "dark": #000000,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #813588,
  "danger": #dc3545,
  "light": #ffffff,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #9C0309;
$secondary-color: #EF7B00;
$white-color: white;
$black-color: #000;
$tertiary-color: #813588;