/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "primary": #9C0309,
  "secondary": #EF7B00,
  "dark": #000000,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #813588,
  "danger": #dc3545,
  "light": #efefef,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #9C0309;
$secondary-color: #EF7B00;
$white-color: white;
$black-color: #000;
$tertiary-color: #813588;

.SRLDownloadButton {
    display: none !important;
}

#navbar {
    .nav-link {
        padding: 30px 40px;
        align-items: center;
        color: $secondary-color;
        font-weight: 600;
        &:hover {
            color: $primary-color;
        }
    }
    .dropdown-item {
        color: $secondary-color;
        font-weight: 600;
        &:hover {
            color: $primary-color;
            background-color: $white-color;
        }
    }
}

#footer {
  ul {
      color: $white-color;
  }                                                                                             
  h2 {
      color: $secondary-color;
      font-size: 18px;
  }
  address {
      color: $white-color;
  }
  a {
      text-decoration: none;
      color: $white-color;
      &:hover {
          color: $secondary-color;
      }

  }

}